# Database Configuration
MYSQL_USER=prashantha
MYSQL_PASSWORD=9108620564
MYSQL_HOST=localhost
MYSQL_DB=invoice_xtract_db

# API Keys
GEMINI_API_KEY="AQ.Ab8RN6KbX0Ob_JF3aWOyr3-pO3HU_vXVG0veNdNH3Mgyfge0qA"
# Path to Google Vision service account JSON (optional)
GOOGLE_APPLICATION_CREDENTIALS=service-account.json

