# Database Configuration
MYSQL_USER=prashantha
MYSQL_PASSWORD=9108620564
MYSQL_HOST=localhost
MYSQL_DB=invoice_xtract_db

# API Keys
GEMINI_API_KEY="AIzaSyBrr72ShUwT59zuhONyjP73QyP5y7W_qWU"
# Path to Google Vision service account JSON
GOOGLE_APPLICATION_CREDENTIALS=C:\Users\prash\OneDrive\Desktop\InvoiceXtract AI\InvoiceXtract-AI\backend\invoice-xtract-475505-690010340543.json
