# Database Configuration
MYSQL_USER=prashantha2562522
MYSQL_PASSWORD=91086785641220564pgfdccvv
MYSQL_HOST=localhost
MYSQL_DB=invoice_xtract_db

# API Keys
GEMINI_API_KEY="AQ.Ab8RN6I2sSqBtEjIlUf2E1zghuttydtghfhgdtrdtrswYnSaLiyr5bZd9tTdX_EsajNZvwhuygdgdtrd"
# Path to Google Vision service account JSON (optional)
GOOGLE_APPLICATION_CREDENTIALS=service-account.json

